@import "./variable.scss";
@import "./media.scss";

#footer {
  position: relative;
  background-color: #fcee0a;

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

    p {
      font-size: 18px;
      font-weight: 300;
      font-family: "Poppins", sans-serif;

      color: #000;
      text-align: center;
    }

    span {
      color: #000;
      font-family: BlenderProBold, sans-serif;
      font-size: 16px;
      font-weight: 700;
      position: relative;
      text-decoration: none;
      font-family: "Fjalla One", sans-serif;
      letter-spacing: 2px;
    }


    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      @include mobile {
        flex-direction: column;
      }

      h2 {
        font-size: 16px;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        color: black;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;

        @include md {
          justify-content: center;
        }

        a {
          color: #000;
          font-family: BlenderProBold, sans-serif;
          font-size: 16px;
          font-weight: 700;

          position: relative;
          text-decoration: none;
          font-family: "Fjalla One", sans-serif;
          letter-spacing: 2px;

          img {
            width: 30px;
            height: 40px;
          }
        }

      }
    }

    .top {
      width: 100%;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;

        @include md {
          justify-content: center;
        }

        list-style: none;

        a {
          color: #000;
          font-family: BlenderProBold, sans-serif;
          font-size: 16px;
          font-weight: 700;

          position: relative;
          text-decoration: none;
          font-family: "Fjalla One", sans-serif;
          letter-spacing: 2px;
        }

      }
    }
  }
}